<html>
	<body>	
		

		{% if created %}
		<div class='well col-sm-12'>
		
		<h3> To: {{mess.receiver}}</h3>
		<h4> Subject: {{mess.subject}}</h4>
		<h4> Message: {{mess.body}} </h4>
		<h4> Time: {{mess.sent_date}}</h4>
		<a href="{%url 'pms:messages' %}"<button type="button" class="btn btn-default text-center" id="backButton">Go to Messages Home</button></a>
		</div>	
		{%else%}
		<div class='well col-sm-12'>
		
			
		<form action="{%url 'pms:sendMessage' %}" method='post'>
			{%csrf_token%}
			{% if messagain %}
			TO<br> <input type='text' disabled align='center' value="{{messagain}}" class='form-control' name="receiver"><br><br><br>
			<input type='hidden' value="{{messagain.id}}" name="receiver">
			{%else%}
			TO<br> <input type='text' disabled align='center' class='form-control' value="{{message_info.receiver}}" name="receiver"><br><br><br>
			<input type='hidden' value="{{sid}}" name="receiver">
			{%endif%}
		Subject <br>
		<input type="text"  class='form-control' name="subject"><br><br><br>
		Message<br>	
	<textarea name='body' class='form-control' cols = '80' rows="5"></textarea><br><br><br>
			<input type="submit" value="Submit">
		</form>
		</div>	
		{%endif%}
	</body>
</html>

