{%load staticfiles %}
<html>
<body>
<head>
<script>
	
 $(document).ready(function () {
	 $('#loadingPatternTest2').hide();

   var pr
		 	for(i=1 ; i<=20; i++){
		 	$(eval("'#testButt'+i")).click(function(){
          testName = $(this).attr('value');
          testsubject = $('#testSub').attr('value');
          testbatch = $('#testBatch').attr('value');
	  console.log(testbatch)
         $(this).removeClass("btn btn-default").addClass("btn btn-success");
	 $('#loadingPatternTest3').show();
 		  $('#allPatternTestsquestions').removeClass("hidden");
         $('#allPatternTestsquestions').html('').load('{% url 'QuestionsAndPapers:patternTest2' %}?patterntestnumber='+encodeURIComponent(testName+','+testsubject+','+testbatch));
        $(eval("'#'+pr")).removeClass("btn btn-success").addClass("btn btn-default");

        $('#analysisType').removeClass('hidden');



    pr = $(this).attr('id');
         
       
		 });

		 };
});


</script>


</head>

<div class="panel-heading" style="text-align:center;">Choose A Test</div>

<div class="btn-group" role="group" aria-label="...">
    <div class="panel-body" >
	    {% for te in alltests%}
	    <button type="button" class="btn btn-default text-center" id="testButt{{forloop.counter}}" value="{{te.id}}">{{te.name}}</button>
  {%endfor%}
	    <button type="button" class="hidden" id="testSub" value="{{subject}}"></button>
	    <button type="button" class="hidden" id="testBatch" value="{{batch}}"></button>
  </div>

</div>
<div id = 'loadingPatternTest3' style='text-align:center;display:none;'>
<h4 style='text-center;'>Please wait... </h4>
        <img src="{%static 'basicinformation/images/bodhigif.gif' %}" >
 </div>

<div class="hidden panel panel-default" id="allPatternTestsquestions" >
  <div class="panel-heading text-center">Questions</div>
  <div class="panel-body" >
{%include 'questions/create_pattern_test4.html' %}
</div>
</div>
  
</body>
</html>
