{%load staticfiles %}
<html>
	<head>
	<script>
		$('#loadingstudentonlinetestssubjectwise').hide();

	</script>
	</head>

	<body>
<div class= "col-sm-12">
	{% for question in test.questions_set.all %}
			<form action= '{% url "QuestionsAndPapers:studentShowOnlineTest" %}' method='post' id = 'answerForm'>
	<div class='well col-md-offset-1 col-md-10'>
		<h2 style='font-weight:bold;'> {{question.text}} </h2>
		<div class = 'col-md-offset-1'>
			{% for choice in question.choices_set.all %}
			{%csrf_token%}
			<label class="radio">
				<input type="radio" name="answerChoice{{forloop.parentloop.counter}}" value = "{{choice.id}}">{{choice.text}}
			</label>
			{%endfor%}
		</div>
	</div>
	{%endfor%}
	<div class='col-md-offset-2 col-md-8'>
				<button type="submit" name='submitTest' value='{{test.id}}' class="btn btn-info">Submit Answers</button>
				<br>
				<br>
	</div>
		</form>
</div>
<script>
$(document).ready(function () {
	  $("#answerButton").click(function () {
		      $("#answerForm").submit();
		        });
});
</script>
	</body>
</html>

