<html>
	<head>
		      
	<script>
		$('#loadingstudentonlinetestssubjectwise').hide();
	</script>
	</head>
	<body>
	{%block content %}
	<div class="row">
	<div class="col-md-offset-1 col-sm-6 col-md-10 ">
		<div class="thumbnail">
			<div class="caption">
				<h2 style='text-align:center;'> Marks:{{marks}}/{{marks.test.max_marks}}</h2>
<h3 style='text-align:center;'> You took <strong> {{timetaken}}</strong> to complete the test. </h3>

	<h3 style='text-align:center;'> Test Taken on: {{marks.testTaken}} </h3>

			</div>
			</div>
		</div>
	</div>



	{%if student_type == 'School' %}

		{% for quest in marks.test.questions_set.all %}
	<div class = 'well col-md-offset-1 col-md-10 col-sm-12'>
		<h2 style='font-weight:bold;'> {{quest.text}} </h2>{% if quest.id in marks.skippedAnswers %}<p style='text-align:center;font-weight:bold;'> <span class="label label-warning">You skipped this question</span></p>{%endif%}
	

		{% for choice in quest.choices_set.all %}
		<p> {{choice.text }} {% if choice.predicament == 'Correct' %} <span class="label label-primary">Correct Answer</span>{%endif%}
		{% if choice.id in marks.allAnswers and choice.predicament == 'Correct'%}<span class="label label-success">Your Answer</span> {%endif%}
	{% if choice.id in marks.allAnswers and choice.predicament == 'Wrong'%}<span class="label label-danger">Your Answer</span> {%endif%}	
		</p>	
		</p>
		{%endfor%}
	</div> {%endfor%}
	{%elif student_type == 'SSC' %}


		{% for quest in marks.test.sscquestions_set.all %}
	<div class = 'well col-md-offset-1 col-md-10 col-sm-12'>
		<h4 style='font-weight:bold;'>{% if quest.text %}{{quest.text|linebreaks}}{%endif%}</h4>
		{%if quest.picture %}
		<img src='{{quest.picture}}' class='img-responsive'>
		{%endif%}	
		
		{% if quest.id in marks.skippedAnswers %}<p style='text-align:center;font-weight:bold;'> <span class="label label-warning">You skipped this question</span></p>{%endif%}
{% for time  in marks.sscansweredquestion_set.all %}
		{%if time.quest.id == quest.id %}
		<span class="label label-info" style='background-color: #AA00FF;'> You took {{time.time}} seconds to answer this question </span></p> {%endif%}
		{%endfor%}
	
		{% for choice in quest.choices_set.all %}
		<p> {%if choice.text %}{{choice.text }}{%endif%}
	{%if choice.picture %}
		<img src='{{choice.picture}}' class='img-responsive'>
		{%endif%}	
       
	
		{% if choice.predicament == 'Correct' %} 
		<span class="label label-primary">Correct Answer</span>
		{%endif%}
		{% if choice.id in marks.allAnswers and choice.predicament == 'Correct'%}
		<span class="label label-success">Your Answer</span> 
		{%endif%}
	{% if choice.id in marks.allAnswers and choice.predicament == 'Wrong'%}
	<span class="label label-danger">Your Answer</span> 
	{%endif%}	
		</p>	
	{%endfor%}
	</div>
	
	{%endfor%}





	{%endif%}
	{%endblock %}

	</body>
</html>

