{% extends 'basicinformation/base2.html' %}

<html>
	<head>
		<title>
			{%block title%}
			Succesfully Pulished
			{%endblock%}
		</title>
	</head>
	<body>
		{%block content%}
		<div class='col-md-offset-1 col-md-10 col-xs-12 col-sm-12'>
			<h2 style='font-weight:bold;'>
				Test has been successfully publised. 
			</h2>
			<h3 style='font-weight:bold;'>
				You can see the results in Student Performance tab once students start answering the questions.
			</h3>
		</div>
		{%endblock%}
	</body>
</html>
