<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
	<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'basicinformation/css/base.css' %}">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
<body>


    <div class="page-404 section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1 class="title">Thanks for Submitting !! We will contact You  Soon !!</h1>

		    <button type="button" class="btn btn-info">
			   
		    <a href="{% url 'bodhiHome' %}" class="btn btn-404">Go Back</a>
			</button>
                    <div class="image-404">
			    <img src="{% static 'basicinformation/images/bodhiaigif.gif'%}" alt="Thankyou">
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
