{% extends 'basicinformation/base.html' %}
{%load staticfiles%}

<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Bodhi AI is a Ed-Tech startup providing truly personlised education tools to students,teachers and institutions using
			state of the art Artificial Intelligence. BodhiAI - A Personal Assistant for Students and Teachers.">
	 <meta name="author" content="Prashant Pandey,BodhiAI">

			    <title>{%block title %}Bodhi AI|Personalised Education with AI{%endblock%}</title>
		
			    {%block scripts %}
				<link href="css/bootstrap.min.css" rel="stylesheet">

					<link href="css/business-frontpage.css" rel="stylesheet">

								<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
								<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
								<link href="css/one-page-wonder.css" rel="stylesheet">
							    {%endblock%}
	</head>

	<body style="background-image:url({%static 'basicinformation/images/background.jpg' %})">
		{%block content %}


		
 <header class="business-header">
	 <h1 style='font-weight:bold;text-align:center;'>BodhiAI </h2> 
	 <h2 style='font-weight:bold;text-align:center;'>a Personal Assistant for Every Teacher and Student </h2> 
 <div class="container  col-sm-12  col-xs-12 " >

	  <div class='col-md-offset-1 col-md-10 col-sm-12 col-xs-12' style='text-align:center;'>
		  <br>
		  <br>
		  		 <img class='img-responsive center-block' src="{%static 'basicinformation/images/schoolCycle.PNG' %}" alt="School Advantages with BodhiAI" style='height:45%;width:auto;padding:0px;'>
		  <hr style='border-width: 3px;border-color:black;'>
		 </div>
		<div class='col-md-12 col-xs-12 col-sm-12' style='text-align:center;'>
				<h4 style='text-align:center;font-weight:bold;'>Contact Us</h4>
				<a href='https://www.facebook.com/bodhiai/'>	<img class='img-responsive center-block' src='https://www.facebook.com/images/fb_icon_325x325.png' alt='contact us at facebook'style='height:10%;width:auto;padding:0px;'><span >Facebook-BodhiAI<span></a>
				<h5 style='text-align:center;font-weight:bold;'>Email: prashant@bodhiai.in</h5>
				<h5 style='text-align:center;font-weight:bold;'>Phone: +91-9521448254</h5>
		  <br>
		  <br>
		  </div>

	 <div class = 'col-md-offset-1 col-md-10 col-sm-12  col-xs-12'>
		 <h3> Bodhi AI a Ed-Tech startup is providing revolutionary education system with help of modern technology <strong>Artificial Intelligence</strong>. Traditionally schools adapt one-size-fits-all approach to teaching. But students learn at different pace and have different progress rates. Teachers find it difficult to identify and deal with educational needs of large number of students. Bodhi AI helps teachers to find gaps in their teaching and point to where students are struggling with subject matter. </h3>
		
		 <div style='text-align:center;' class=" col-md-offset-1 col-md-10 col-sm-10  col-xs-10">
					<img class='img-responsive center-block' src="{%static 'basicinformation/images/features.png' %}" alt="BodhiAI features" style='height:20%;width:auto;padding:2px;'>
					<hr style='border-width: 5px;border-color:black;'>
					<br>

		 <br>
		 </div>
		 </div>
		 <br>
		 <br>
		 <br>
	
		 <div style='text-align:center;' class = 'col-md-6 col-sm-12  col-xs-12'>
		 	 
		<h2 style='color:green'> How it looks like from Student's perspective </h2><hr style='border-width: 3px;'>
		<img class='img-responsive center-block' src="{%static 'basicinformation/images/student-bodhitalk.jpg' %}" alt="Student education advantages BodhiAI" style='height:85%;width:auto;padding:0px;'>
	
		 </div>	
			
		<div style='text-align:center;' class = 'col-md-6 col-sm-12  col-xs-12'>
		
		<h2 style='color:blue'> How it looks like from Teacher's perspective </h2><hr style='border-width: 3px;'>
		<img class='img-responsive center-block' src="{%static 'basicinformation/images/teacher-bodhitalk_mini.jpg' %}" alt="Teacher education advantages Bodhi AI" style='height:85%;width:auto;padding:0px;'>
	
		 </div>	
		 
		 <div class='col-md-offset-1 col-md-10 col-sm-12  col-xs-12'>
		 <hr style='border-width: 3px;border-color:black;'>
		 <h3>
	 “A lot of teacher time can be taken up by analysing the
answers. The insights don’t come out very easily. There are things that might have
come out of that test in another 10,000 cases elsewhere
that they can’t see. Comparing demonstrated answers and
abilities and looking for those nuances using AI, you could
generate a student profile that would be very helpful 
indeed for a teacher, who doesn’t have the capability to
analyse 10,000 tests.”
		 </h3>
		 </div>
		 
		 <div class='col-md-offset-1 col-md-10 col-sm-12  col-xs-12' style='text-align:center;'>
		 <hr style='border-width: 3px;border-color:black;'>

		<img class='img-responsive center-block' src="{%static 'basicinformation/images/bodhiplatform.png' %}" alt="Our services Bodhi AI" style='height:85%;width:auto;padding:0px;'>

		 </div>

		 <div class='col-md-offset-1 col-md-10 col-sm-12  col-xs-12'>
		 <hr style='border-width: 3px;border-color:black;'>
		  <br>
		   <br>

		   <h2 style='text-align:center;font-weight:bold;'>BodhiAI works on a platform which gives teachers and students the power to :</h2>
		   <br>
			 
			 <ul style='font-weight:bold;font-size:20px'>
			<li style='color:red'> Personal Assistant </li>
			<ul>
				<li> <strong>Learns </strong>your learning/teaching <strong>pattern </strong>and gives you deeper insights.</li>
				<li> <strong>Future Prediction </strong>of marks and areas your or your students will be weak or strong in. </li>
				<li><strong>Prescribes</strong> you ways to <strong>impove </strong>your <strong>performace/understanding.</strong></li>
				<li>And Much More.</li>
			</ul>
			<li> <p style='color:red'>Communication (Messaging)</p> : Teachers,Students and Management can send and receive messages 
				when-ever they want and where-ever they want.</li>
			<li><p style='color:red'>Announcements/Circulars/Homework</p> - Teachers and Management can create announcements or ciculars or homework to be broadcasted instantaneously to the desired students.</li>
			<li> <p style='color:red'>Marks and Results</p> - Marks and results will be bradcasted as soon as they are ready with complete analysis. </li>
			<li> <p style='color:red'>Create Class Tests</p> - Teachers can create tests/homework for both class room and online purposes from our question bank.</li>
			<li><p style='color:red'>Huge question bank</p> - We have a huge question bank of thousands of top quality questions.</li>
		</ul>
		<hr style='border-width: 3px;border-color:black;'>
		 </div>
		
		 <div class='col-md-offset-1 col-md-10 col-sm-12 col-xs-12' style='text-align:center;'>
		  <br>
		  <br>
		 <img class='img-responsive center-block' src="{%static 'basicinformation/images/bodhiadvantagesall3.PNG' %}" alt="our advantages Bodhi AI" style='height:75%;width:auto;padding:5px;'>
		 <hr style='border-width: 3px;border-color:black;'>
		 </div>
		 	
<footer>
            <div class="row">
                <div class="col-lg-12 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" >
                    <p>Copyright &copy; Bodhi AI 2017</p>
                </div>
            </div>
        </footer>
		{%endblock%}
	</body>
</html>
