<html>
<head>
		<title>
			Courses
		</title>
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
	</head>


	<body>
  <nav>
	      <div class="nav-wrapper orange">
	          <a href="http://www.bodhiai.in" class="brand-logo center">Bodhi AI Courses</a>
		</div>
	</nav>
	<br>									              
	<br>									              
	<br>									              
	<br>									              
		<div class='container'>
<div class="row">
       <div class="col s12 m6 l6">
	     <div class="card blue-grey darken-1">
		<div class="card-content white-text">
			<span class="card-title text-center">SSC</span>
		<p>Tier-1 will take place in June 2019 in multiple slots via computer mode, with objective type questions. Tier-2 will comprise two papers of 200 marks each for Quantitative aptitude and English. Bodhi AI will help you ace these two tiers.</p>
		</div>
		<div class="card-action">
			<a> <span class="activator grey-text text-darken-4">More Details</span></a>

          		<a href="http://bodhiaireact.s3-website.ap-south-1.amazonaws.com/#/login">Start Preparation</a>
                  	</div>
 <div class="card-reveal">
      <span class="card-action grey-text text-darken-4">More Details<i class="material-icons right">close</i></span>
	             <p>SSC CGL 2019 Exam Pattern
Candidates would be selected through a 4-tier selection process of SSC in which fourth tier would be of qualifying nature only. Tier 1 comprises 100 MCQs based on general aptitude to be done within one hour.
Tier-2 is a descriptive test comprising two papers of Mathematics and English with each being of 200 marks and of 2 hours duration.
Tier three would be a subjective exam of 1 hour duration. Tier four would be typing test/computer proficiency test.
Mode of Examination
Online (Except tier-3)
Number of questions
100 (in Tier 1 and Mathematics Tier-2), 200 (English Tier 2)
Maximum Marks
200 in Tier 1, 400 in Tier 2, 100 in Tier 3
Duration
1 Hour (Tier 1), 2 Hours (Tier 2), 1 Hour (Tier 3)
Sections
4 (In Tier 1)
    • Tier 1 and Tier 2 would only comprise objective type questions.
    • Tier 3 paper would be subjective in nature.
    • Tier 4 would be a skill test of qualifying nature.

Marking Scheme for SSC CGL 2019
    • Tier one and Tier two exams comprises MCQs carrying equal marks.
    • Two marks would be awarded for each right answer in both Tier 1 and Tier 2 (Except English Paper of Tier 2 where there is one mark for each question).
    • 0.25 Marks would be deducted for a wrong answer.
    • Maximum marks in Tier 3 exam is 100.
    • No maximum marks are allotted for Tier 4/Skill test.
Check Your SSC CGL Preparation with these easy quizzes

SSC CGL 2019 Syllabus
Tier-wise syllabus for the examination is given below.
SSC CGL Tier I Syllabus
The major sections asked in SSC CGL 2019 Preliminary Exam are General Awareness, Reasoning, Quantitative Aptitude and English Language.
SSC CGL Tier II Syllabus
Mains Exam will be conducted online and is an objective multiple choice exam. The major sections asked in Mains Exam are Quantitative Aptitude, English Language and Comprehension, Statistics, General Studies (Finance and Economics). 
SSC CGL Tier III Syllabus
    • Tier-III of SSC CGL  exam is a descriptive exam to test the written skills of the candidates in English/Hindi.
    • The mode of examination is offline and students are required to write essays, précis, application, letter etc. in this exam.
    • The exam carries 100 marks and the time allotted for the same is 60 minutes.
    • The time allotted for candidates belonging to PWD category is increased to 80 minutes.
    • Tier-III paper is given by specific candidates who are interested only for the post of “Statistical Investigator Grade II” & “Compiler”.
SSC CGL Tier IV Syllabus
Tier-IV examination comprises of couple of skill sets required for certain Government Posts all over the country.
    • DEST (Data Entry Speed Test): For the post of Tax Assistant (Central Excise and Income Tax), DEST Exam through SSC CGL exam is conducted to check the typing speed of the candidate. The candidates are given an article in English which they have to type on Computer. A candidate is required to type 2000 words in 15 minutes.
    • CPT (Computer Proficiency Test): Word Processing, Spread Sheets and Generation of slides are the three modules that are important for this exam and the commission demands a candidate to be proficient in it for the post of CSS, MEA, Inspector (Central Excise), Inspector (Preventive Officer), Inspector (Examiner).
SSC CGL Selection Process
SSC CGL exam is divided into 4 stages i.e. Tier 1, Tier 2, Tier 3 and finally Tier 4.
    • Candidates who qualify in Tier 1, will be eligible to appear in Tier 2.
    • Candidates who qualify in Tier 2, will be eligible to appear in both Tier 3 and Tier 4.
    • Final Merit of SSC CGL will be based on cumulative marks of Tier 1, Tier 2 and Tier 3.
    • Tier 4 is of qualifying nature and mandatory for CSS / MEA / Tax Assistant Posts. 
Successful candidates would be placed in various Central government ministries, departments and offices across the country based on their performance in the exam and the preference filled by them at the time of making application for the exam.
Joining letters would be issued within a month or two of the completion of entire process of examination including the document verification stage. Candidates would be informed in regards to the issuance of the joining letter well in advance.
</p>

    </div>
     	           	</div>
     		       	</div>

 <div class="col s12 m6 l6">
	     <div class="card blue-grey darken-1">
		<div class="card-content white-text">
		<span class="card-title">Railways</span>
		<p>Railway Recruitment Boards are organisations under the Government of India that manage the appointment of new employees to work in Indian railways. There are 21 boards situated in different parts of India</p>
		</div>
		<div class="card-action">
			<a> <span class="activator grey-text text-darken-4">More Details</span></a>
          		<a href="http://bodhiaireact.s3-website.ap-south-1.amazonaws.com/#/login">Start Preparation</a>
                  	</div>
 <div class="card-reveal">
      <span class="card-action grey-text text-darken-4">More Details<i class="material-icons right">close</i></span>
	             <p>
		     RRB JE Selection Process 2019
The stages of RRB JE Selection are as follows:
    • Computer Based Test (CBT 1)
    • Computer Based Test (CBT 2)
    • Document Verification
    • Medical Examination
Details of these stages is given below.
RRB JE 2019 CBT 1 and 2 Details
This time, there will be two CBTs. The pattern of the examination last time was as follows:
The exam pattern details are as follows:
    • Duration: It will be a 90 minute examination
    • Languages – The exam is expected to be held in English, Hindi, Urdu, Gujarati, Punjabi, Kannada, Tamil, Telugu, Marathi, Konkani, Odiya, Assamese, Bengali, Manipuri, and Malayalam.
    • Questions – There will be 100 multiple choice type questions in the exam. Question will be asked from:
– Mathematics
– General Intelligence and Reasoning
– General Awareness
– General Science
The number of questions asked from each section will be as follows:
Subjects
Number of Questions
Marks per Section
Mathematics
30
30
General Intelligence and Reasoning
25
25
General Awareness
15
15
General Science
30
30
Total
100
100
Minimum Percentage: A candidate needs a minimum percentage in order to qualify for CBT 2. The details regarding the minimum percentage is given below.
    • UR- 40%
    • OBC & SC- 30%
    • ST- 25%
RRB JE CBT 2 Details
Candiate 15 times the total number of Community-wise vacancies as per the Merit appear for the second stage of RRB JE CBT. RRB JE 2019 CBT 2 details are as follows:
Duration: The duration of the examination is 120 minutes.
Languages – The exam is expected to be held in English, Hindi, Urdu, Gujarati, Punjabi, Kannada, Tamil, Telugu, Marathi, Konkani, Odiya, Assamese, Bengali, Manipuri, and Malayalam.
Questions – In all there will be 150 questions in the examination, from the below given topics:
    • General Awareness
    • Physics and Chemistry
    • Basics of Computers and Applications
    • Basics of Environment and Pollution Control
    • Technical Abilities
The number of questions asked from each section will be as follows:
Number of Questions – In all there will be around 150 questions. The distribution of questions will be as follows:
Subjects
Number of Questions
Marks per Section
General Awareness
15
15
Physics and Chemistry
15
15
Basics of Computer and Applications
10
10
Basic of Environment and Pollution Control
10
10
Technical Abilities
100
100
Total
150
150
Normalization of Marks
Marks are normalized for both the CBT in order to develop a Merit Index. The normalization takes into account the examination conducted in multi-sessions/ single sessions and the difficulty of exams. This normalization uses the raw marks to generate a common standard for the Merit List. Based on the normalization, a combined Merit List will be published in the descending order and the allotment will be done as per the post preferences.
RRB JE Vacancies 2019
The number of vacancies for RRB Junior Engineer and other post is 14033. The distribution of it is as given below:
Post
New Vacancies
Old Vacancies
Junior Engineer
12844
13034
Junior Engineer (Information Technology)
29
49
Depot Material Superintendent
227
456
Chemical and Metallurgical Assistant
387
494
Total
13487
14033
RRB JE 2019 Exam Date, City, Session
    • RRB will hold Junior Engineer 2019 CBT 1 in the month of April – May 2019.
The Board will conduct CBT in multiple days and shifts. In the application form, the candidates can only submit multiple choices for the exam city. The exact exam date, city, and session will be allocated through login. The Board announce exam city and session via the login. However, the exam address of the exam center is provided informed through the admit card.
RRB JE Application Form Correction and Modification
RRB allows modification and correction in the application form. Candidates should make sure that they fill all the details in the application form correctly. Yet, there is any error in the form then the candidates will be able to modify it when the RRB JE Modification widow opens. For modification candidates will have to pay fee amount of Rs. 250. The candidates only be able to edit few details.
What are the details that cannot be changes in RRB JE Application Form 2019?
    • Email ID
    • Mobile Number
    • Opted RRB
    • Registration Number
RRB JE Application Form Status 2019
After the application form filling, RRB will scrutinize all the application form. The Boards check all the details in the application form and announces the application status as per it. The status of RRB JE states if the application form of RRB JE has been accepted or rejected.
The application status will be rejected if:
    • Details are entered incorrectly.
    • Candidates is not eligible as per the norms of RRB JE 2019.
    • Photograph or documents are not uploaded in the prescribed format.
How to Check RRB JE Application Status 2019? – In order to check the application status, the candidates will have to login by entering registration number and date of birth. Then, a message appears as follows, “Current Status of Your Application: Your application is provisionally accepted”. If the application form had errors, then the RRB JE application form will be rejected and the displayed status will be negative.
RRB JE Admit Card 2019
The admit card of RRB Junior Engineer 2019 will be released online and in order to download it registration number and date of birth will be needed. The admit card will contain all the details about the exam city, centre, timing, reporting time, exam date, candidate, etc. The candidates will have to download it online and carry a hard copy of it on the exam day.
RRB demands that along with the admit card, candidates also carry one photo id proof and a passport size photograph. The passport size photo should be the same as the one uploaded in the application form. Whereas, the photo id proof can be a voter id card, aadhaar card, college id card, employee id, passport, etc.
RRB JE Result 2019
The result of the examination will be available as a pdf, in which the roll number of the qualified candidates will be mentioned. RRB will also announce the score of the candidates. It will be available via login. The candidates will need registration number and date of birth to access it. The marks of the candidates in all the subject and over all will be mentioned. Those who will qualify, will be called for the next round of recruitment.
To generate a Merit List, marks will be normalized. In case of multi sessions for the same syllabus, the raw marks in these different sessions will be normalized. This normalization takes into account the difficulty levels and applies suitable metrics for simplification.;
RRB JE Document Verification 2019
Candidates who find a place in the merit list generated after the RRB JE CBT 2 2019 are then called for a Document Verification(DV). This Document Verification procedure is done to check the eligibility claims and verify the required documents. A candidate should note that no additional time is provided to submit the documents and it should be done on the DV day itself. All documents should be produced in the Original form. Following is the list of documents required on the day of DV:
    • Two self-attested photo copies of all documents and the copies should be scanned copies in the true colour.
    • Matriculation/ High School Certificate for DOB verification.
    • Diploma/Engineering/Science Degree certificates along with the Mark-sheets of all Semesters.
    • Category certificates for reserved candidates(SC/ST/OBC-NCL etc.)
    • NOC from the already serving employees
    • Self-declaration by Transgender candidates
    • Receipt of payment if the payment was made through SBI Challan or Computerized Post Office
    • J & K domicile Certificate for candidates belonging to Jammu & Kashmir
RRB JE Medical Verification 2019
RRB JE Medical Verification is done to ensure that a candidate is fulfilling the medical requirements laid by the Indian Railways. Below is the list of Medical standards:

Distant Vision(with or without glasses
Near Vision(with or without glasses)
Tests
A-3
6/9, 6/9
0.6, 0.6
Colour Vision, Binocular Vision, Night Vision and Mesopic vision
B-1
6/9, 6/12
0.6, 0.6
Colour Vision, Binocular Vision, Night Vision and Mesopic vision
B-2
6/9, 6/12
0.6, 0.6
Binocular vision
C-1
6/12, 6/18
0.6, 0.6
____________
Below is the list of the medical standards applicable to different posts:
Post
Section
Sub Department
Medical Standard
J.E/ Bridge
Engineering
BRIDGE
A3
J.E/ Civil/ Design Drawing and Estimation
Engineering
DESIGN and DRAWING
C1
J.E/ P Way
Engineering
P WAY
A3
JE/ Civil/ Design Drawing and Estimation
Engineering
PRODUCTION UNIT
C1
J.E./ P Way
Engineering
PRODUCTION UNIT
A3
J.E/ Works
Engineering
PRODUCTION UNIT
C1
J.E/ Design and Civil
Engineering
R & D
B2
J.E/ Civil
Engineering
R & D
B1
J.E/ Works
Engineering
R & D
C1
J.E/ (Research)/ Civil
Engineering
R & D
B1
J.E/ Works
Engineering
WORKS
B1
J.E/ Civil/ Workshop
Engineering
WORKSHOP
C1
J.E/ Track Machine
Engineering
TRACK MACHINE
A3
J.E/ Carriage and Wagon
Mechanical
CARRIAGE AND WAGON
B1
J.E/ Mechanical/ Design Drawing and Estimation
Mechanical
DESIGN AND DRAWING
C1
J.E/ Diesel Mechanical
Mechanical
DIESEL SHED
B1
J.E/ Mechanical/ Power
Mechanical
POWER
A3
J.E./ Design/ Mechanical
Mechanical
PRODUCTION UNIT
C1
J.E/ Mechanical
Mechanical
PRODUCTION UNIT
C1
J.E/ Mechanical/ Design Drawing and Estimation
Mechanical
PRODUCTION UNIT
C1
J.E/ Design/ C and W
Mechanical
R & D
C1
J.E/ Design/ ED
Mechanical
R & D
C1
J.E/ Design/ MP
Mechanical
R & D
B2
J.E/ Design/ Testing
Mechanical
R & D
C1
J.E/ Mechanical
Mechanical
R & D
C1
J.E/ Mechanical/ Carriage
Mechanical
R & D
C1
J.E/ Mechanical/ ED
Mechanical
R & D
B1
J.E/ Mechanical/ MP
Mechanical
R & D
B1
J.E/ Mechanical/ Testing
Mechanical
R & D
B1
J.E/ Workshop/ ED
Mechanical
R & D
C1
J.E (Research)/ Mechanical/ Testing
Mechanical
R & D
C1
J.E/ Diesel Mechanical (Workshop)
Mechanical
WORKSHOP
C1
J.E/ JIG and TOOL
Mechanical
WORKSHOP
C1
J.E/ Mechanical (Workshop)
Mechanical
WORKSHOP
C1
J.E/ Millwright
Mechanical
WORKSHOP
C1
J.E/ Diesel Electrical
Mechanical
DIESEL SHED
B1
J.E/ Diesel Electrical (Workshop)
Mechanical
WORKSHOP
C1
J.E/ Electrical/ Design Drawing & Estimation
Electrical
DESIGN AND DRAWING
C1
J.E/ Electrical/ EMU
Electrical
EMU
A3
J.E/ Electrical/ General Services
Electrical
GENERAL SERVICES
B1
J.E/ Design/ Electrical
Electrical
PRODUCTION UNIT
C1
J.E/ Design/ TI
Electrical
PRODUCTION UNIT
C1
J.E/ Electrical/ Design Drawing and Estimation
Electrical
PRODUCTION UNI
C1
J.E/ Design/ Electrical
Electrical
R & D
C1
J.E/ Design/ TI
Electrical
R & D
B2
J.E/ Electrical
Electrical
R & DThe candidates should bring the follow documents to complete the verification:
C1
J.E/ Research/ TI
Electrical
R & D
C1
J.E/ Electrical/ TRD
Electrical
TRD
A3
J.E/ Electrical/ TRS
Electrical
TRS
A3
J.E/ Electrical (Workshop)
Electrical
WORKSOP
C1
J.E/ S & T/ Design Drawing and Estimation
S & T
DESIGN AND DRAWING
C1
J.E/ S & T/ Telecommunication
S & T
PRODUCTION UNIT
C1
J.E/ Design/ S & T
S & T
R & D
C1
J.E/ Research/ Instrumentation
S & T
R & D
C1
J.E/ S & T/ Telecommunication
S & T
R & D
C1
J.E/ S & T/ Signal
S & T
SIGNAL
A3
J.E/ S & T/ Telecommunication
S & T
TELECOMMUNICATION
A3
J.E/ S & T (Workshop)
S & T
WORKSHOP
C1
J.E/ Printing Press
STORES
PRINTING PRESS
B2
DMS
STORES
STORES DEPOT
C1
J.E/ IT
ACCOUNTS
ACCOUNTS
C1
CMA
Mechanical
CMT
B1
RRB JE 2019 Notification
</p>

    </div>
 
     	           	</div>
     		       	</div>
  <div class="col s12 m6 l6">
	     <div class="card blue-grey darken-1">
		<div class="card-content white-text">
		<span class="card-title">IIT JEE</span>
		<p>Joint Entrance Examination (JEE) MAIN will be conducted by the NTA from 2019 onwards.	JEE Main is applicable for admission to NITs, IIITs and CFTIs participating though Central Seat Allocation Board subject to the condition that the candidate should have secured at least 75% marks in the 12th class examination, or be in the top 20 percentile in the 12th class examination conducted by the respective Boards. Bodhi AI will help you ace this exam.</p>
		</div>
		<div class="card-action">
			<a> <span class="activator grey-text text-darken-4">More Details</span></a>
          		<a href="http://bodhiaireact.s3-website.ap-south-1.amazonaws.com/#/login">Start Preparation</a>
                  	</div>
 <div class="card-reveal">
      <span class="card-action grey-text text-darken-4">More Details<i class="material-icons right">close</i></span>
	             <p> 
		     JEE Main April 2019
JEE Main 2019 April exam is like a second attempt for the candidates who have already appeared in the first attempt in January. Also, the candidates who were unable to appear in the January exam due to any reason can register for JEE Main 2019 April exam. For the January attempt, 9,41,117 had registered.
JEE Main April 2019 Dates
The important thing to note is if you have registered for JEE Main January 2019, and you want to appear in JEE Main April 2019 too, you have to register and fill the application form again as a fresh candidate. The NTA has finally confirmed the dates for the April session of JEE Main 2019, candidates can have a look from below.
JEE Main 2019 April
Important Dates
Application Form will be available from
08 Feb 2019
Last Date To Submit Your Applications
07 Mar 2019
Dates of Examination
Between 6 – 20 Apr 2019
(Exact dates to be notified later)
Last Date of Submission of Application Fee
08 Feb 2019 to 08 Mar 2019
Release of Admit Card
To be announced
Release of Answer Key
To be announced
 Declaration of Result
30 Apr 2019
    • 
JEE Main April 2019 Attempt Limits and Eligibility
    • Attempt Limit: Now, the biggest question that is among the students is that, “If this is my third attempt then will be able to appear in both January and April Exam?”
YES! You can!
However, the candidate can appear for JEE Main exam a total of 03 consecutive times.
    • Age Limit – There is no age limit as long as you are suiting the below-mentioned criteria.
    • Year Of passing class 12 – The candidates who have passed 10+2 examination in 2017, 2018 or appearing in 2019 irrespective of their age can appear in JEE Main 2019 exam.
    • Educational Qualification – The candidate should have passed Class 12th or its equivalent examination from any recognized board. Also, the applicant should have studied at least five subjects in class 12th/qualifying examination in order to be eligible for JEE Main 2019.
JEE Main April 2019 Application Form
Even if you have appeared in the January examination, you have to register again for the April examination. Thus, as per the schedule mentioned above on this page, the application form for JEE Main April 2019 will be available at nta.ac.in. Candidates have to register all over again.
The Aadhar card is not mandatory to register for JEE Main 2019 exam. The brief steps to apply online are as follows:
    1. Fill the authentication form by filling the details like the state of eligibility, Identification type, identification number, name, date of birth, and gender.
    2. Next, fille the application form using Personal Details, Academic Details, Contact Details, and Guardian Details.
    3. In the next step upload the scanned images of recent passport-sized photo and your signature.
    4. Lastly make the fee payment online via net banking, credit/debit card.
JEE Main April 2019 Examination/Application Fee
The application fee payment can only be made through any of the online modes (debit card or credit card or net banking) up to 11.50 p.m. on the last day of submitting the application form. The application for JEE Main 2019 April exam remain the same as the January exam:
Applying For
UR and OBC
PwD, SC, ST, and Girls
If Opting for Exam Center in India
JEE Main Paper 1 or Paper 2
    • Rs. 500 (Boys)
    • Rs. 250 (Girls)
Rs. 250 (Girls & Boys)
Both JEE Main Paper 1 and 2
    • Rs. 900 (Boys)
    • Rs. 450 (Girls)
Rs. 450 (Girls & Boys)
If Opting for Exam Center Outside India
JEE Main Paper 1 or Paper 2
    • Rs. 2000 (Boys)
    • Rs. 1000 (Girls)
Rs. 1000 (Girls & Boys)
Both JEE Main Paper 1 and 2
    • Rs. 3000 (Boys)
    • Rs. 1500 (Girls)
Rs. 1500 (Girls & Boys)
JEE Main April 2019 Exam Pattern
Since NTA will not be changing the exam pattern, the pattern will remain the same. Except that the candidates have to a appear for the exam in online mode only.
    1. Mode of Examination: Online (Computer Based Test).
    2. Duration of the exam: 03 hours.
    3. Type of Questions: Objective Type / MCQ questions.
    4. The medium of Question Papers: The candidates will be given a choice in the medium of the question papers. The medium of examination in all test centers will be in English and Hindi Medium. However, for Centre Cities in Gujarat, Daman & Diu and Dadra and Nagar Haveli, the questions will be available in English, Hindi, and Gujarati. Therefore, the candidates need to opt for the medium of question paper at the time of filling the application form.
Exam Pattern:
Paper 1 – For BE/B.Tech 
Subject
Number of questions
Max Marks

Physics
30
120

Chemistry
30
120

Mathematics
30
120

Paper 2 – For B.Arch/B.Plan 
Subject
Number of questions
Max Marks

Aptitude test
50
200

Mathematics
30
120

Drawing test
2*
70

*In the January exam, there was a change, in paper 2 instead of 2 drawing questions 3 drawing questions were asked.
Marking Scheme
    1. For every correct answer, 04 marks will be given.
    2. Also, there shall be a negative marking of 01 marks for every incorrect answer.
    3. No marks will be deducted or awarded in case if the question is left unanswered.
JEE Main April 2019 Syllabus
The syllabus again remains the same for the candidates who will appear in JEE Main April 2019. Get below the topics you need to cover for the examination.
Mathematics
    • Sets, Relations, and Functions
    • Complex Numbers and Quadratic Equations
    • Matrices and Determinants
    • Permutations and Combinations
    • Mathematical Inductions
    • Sequences and Series
    • Binomial Theorem and its simple applications
    • Limit, Continuity, and Differentiability
    • Integral Calculus
    • Differential Equation
    • Co-ordination Geometry
    • Three dimension Geometry
    • Vector Algebra
    • Statistics and Probability
    • Trigonometry
    • Mathematical Reasoning
Physics 
    • Physics and Measurement
    • Kinematics
    • Laws of Motion
    • Work, Energy, and Power
    • Rotational Motion
    • Gravitation
    • Properties of Solids and Liquids
    • Thermodynamics
    • Kinetic Theory of Gases
    • Oscillations and Waves
    • Current Electricity
    • Electrostatics
    • Magnetic Effects of Current and Magnetism
    • Electromagnetic Induction and Alternating Current
    • Electromagnetic Waves
    • Optics
    • Dual Nature of Matter and Radiation
    • Atoms and Nuclei
    • Electronic Devices
    • Communication Systems
Chemistry (Physical)
    •  Some basic concepts in Chemistry
    • States of Matter
    • Chemical Thermodynamics
    • Solutions
    • Equilibrium
    • Redox Reactions and Elthe ectrochemistry
    • Chemical Kinetics
    • Surface Chemistry
    • Atomic Structure
    • Chemical Bonding and Molecular Structure
Chemistry (Inorganic)
    • Classification of Elements and Periodicity in Properties
    • General Principles and processes of isolation of metals
    • Hydrogen
    • s-block elements
    • p-block elements
    • d and f- block elements
    • Coordination Compounds
    • Environmental Chemistry
    • Hydrocarbons
Chemistry (Organic)
    • Purification and characterization of Organic compound
    • Some basic principles of Organic Chemistry
    • Hydrocarbons
    • Organic compounds containing Halogen, Oxygen, Nitrogen
    • Polymers
    • Biomolecules
    • Chemistry in Everyday Life
    • Principles related to practical chemistry
JEE Main April 2019 Admit Card
The admit card for JEE Main April 2019 will be available to those who will complete the online application process without any errors. The Admit card will contain all the important details like venue, time and date of the examination, JEE Main April 2019 Roll Number, photograph and other important instructions. Thus, the candidates will have to log in and download their admit card from nta.ac.in. This important document is to be carried to the exam centre along with a valid photo id proof.
</p>

    </div>
 
     	           	</div>
     		       	</div>
            

 <div class="col s12 m6 l6">
	     <div class="card blue-grey darken-1">
		<div class="card-content white-text">
		<span class="card-title">NEET</span>
		<p>
		The NEET (UG) - 2019 will be conducted on Sunday, 5th May, 2019. The responsibility of the NTA is limited to the conduct of the entrance examination, declaration of result and for providing an “All India Rank merit list” to the Directorate General Health Service, Government of India for the conduct of counselling for 15% All India Quota Seats and for supplying the result to States/other Counselling Authorities.</p>
		</div>
		<div class="card-action">
			<a> <span class="activator grey-text text-darken-4">More Details</span></a>
          		<a href="http://bodhiaireact.s3-website.ap-south-1.amazonaws.com/#/login">Start Preparation</a>
                  	</div>
 <div class="card-reveal">
      <span class="card-action grey-text text-darken-4">More Details<i class="material-icons right">close</i></span>
	             <p>
		    Total Number of questions: 180
Type of questions: 180 objective type questions (four options with the single correct answer) from Physics, Chemistry, and Biology (Botany & Zoology) to be answered on the specially designed machine-gradable sheet using Ball Point Pen provided at examination centre only.
Total marks: 720
Timings of the paper: 02:00 pm to 05:00 pm
NEET 2019: Detailed Syllabus
Class 11
Physics
    • Physical world and measurement
    • Kinematics
    • Laws of Motion
    • Work, Energy, and Power
    • Motion of System of Particles and Rigid Body
    • Gravitation
    • Properties of Bulk Matter
    • Thermodynamics
    • Behaviour of Perfect Gas and Kinetic Theory
    • Oscillations and Wave
Chemistry
    • Some Basic Concepts of Chemistry
    • Structure of Atom
    • Classification of Elements and Periodicity in Properties
    • Chemical Bonding and Molecular Structure
    • States of Matter: Gases and Liquids
    • Thermodynamics
    • Equilibrium
    • Redox Reactions
    • Hydrogen
    • s-Block Element (Alkali and Alkaline earth metals)
    • Some p-Block Elements
    • Organic Chemistry- Some Basic Principles and Techniques
    • Hydrocarbons
    • Environmental Chemistry
Biology
    • Diversity in Living World
    • Structural Organization in Animals and Plants
    • Cell Structure and Function
    • Plant Physiology
    • Human physiology
Class 12
Physics
    • Electrostatics
    • Current Electricity
    • Magnetic Effects of Current and Magnetism
    • Electromagnetic Induction and Alternating Currents
    • Electromagnetic Waves
    • Optics
    • Dual Nature of Matter and Radiation
    • Atoms and Nuclei
    • Electronic Devices
Chemistry
    • Solid State
    • Solutions
    • Electrochemistry
    • Chemical Kinetics
    • Surface Chemistry
    • General Principles and Processes of Isolation of Elements
    • p- Block Elements
    • d and f Block Elements
    • Coordination Compounds
    • Haloalkanes and Haloarenes
    • Ethers and Alcohols, Phenols
    • Aldehydes, Ketones and Carboxylic Acids
    • Organic Compounds Containing Nitrogen
    • Biomolecules
    • Polymers Chemistry in Everyday Life
Biology
    • Reproduction
    • Genetics and Evolution
    • Biology and Human Welfare
    • Biotechnology and Its Applications
    • Ecology and environment
 
Medium of question paper
Candidates can attempt their question paper in English, Hindi, Assamese, Bengali, Gujarati, Kannada, Marathi, Odia, Tamil, Telugu and Urdu.
 
Eligibility Criteria
    • Candidates who are in the age bracket 17 years to 25 years as on May 5, 2019, can apply
    • Students must have completed a full-time course in physics, chemistry, and biology (or biotechnology) at the intermediate level
    • Knowledge of English Language is also a must
About NEET
The National Eligibility Cum Entrance Test (NEET) UG will be conducted by the NTA from 2019 onwards.
This test was earlier conducted by the Central Board of Secondary Education (CBSE) till 2018.
NEET (UG) is applicable for admission to MBBS/BDS Courses in India in Medical/Dental Colleges run with the approval of Medical Council of India/Dental Council of India.
 
		     </p>

    </div>
 
     	           	</div>
     		       	</div>
    </div>
    </div>
 
	</body>


</html>


