{%extends 'basicinformation/base.html' %}
<html>
	<head>
		<title>
			{%block title%}
			Management Home Page
			{%endblock%}
		</title>
	</head>
	<body>
		{%block content %}

		<div class='col-md-offset-1 col-md-10'>
			<h2 style='text-align:center;'> Welcome to {{user.schoolmanagement.school}}'s Management page </h2>
			<div class='well'>
				<h3 > All the classes registered on BodhiAI </h3>
				{% for kl in all_classes %}
				<h4> {{kl}} </h4>
				{%endfor%}
			</div>
			<table class='table table-striped table-bordered table-hover'>
			<tr>
				<th class='primary'> Teacher</th>
				<th> Number of tests</th>
				<th> Date</th>
			</tr>
				{% for teach,testdic in tests_created.items %}
			<tr>
				<th>{{teach}}</th>
				{%for te,test in testdic.items %}
				<th> {{test|length}}</th>				
				<th>	{%for da in test %}
					{{da.published}}|{%endfor%} </th>
				{%endfor%}
				{%endfor%}
			</tr>
		</table>



		</div>
		{%endblock%}
	</body>
</html>
