{%load staticfiles %}
<script>
         $(document).ready(function () {
	 $('#loading').hide();
    var pr
        for(i=1 ; i<=20; i++){
         $(eval("'#subjectButton'+i")).click(function(){
          which_sub = $(this).text(); 
	  which_klass = $('#which_class').text();
	  $('#loadinganalysis2').show();
         $(this).removeClass("btn btn-default").addClass("btn btn-success");
         $('#onlinetestid').removeClass("hidden");
         $('#onlinetestid').html('').load('{% url 'basic:teacher_update_page' %}?onlineschoolSubject='+which_sub.replace(/\s+/g,'')+','+which_klass);
       $(eval("'#'+pr")).removeClass("btn btn-success").addClass("btn btn-default");
    pr = $(this).attr('id');
});
};
});
    </script>
<div class="panel panel-default">
  <div class="panel-heading text-center">Choose a Subject</div>
  <div class="panel-body">
{% for i in subs %}

<div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-default " value ="{{i}}" id="subjectButton{{forloop.counter}}">{{i}}</button>
	<button type="button" class="hidden btn btn-default" value ="{{i}}" id="which_class">{{which_class}}</button>
</div>
{%endfor%}
</div>

<div id = 'loadinganalysis2' style='text-align:center;display:none;'>
 <h4 style='text-center;'>Please wait... </h4>
         <img src="{%static 'basicinformation/images/bodhigif.gif' %}" >
  </div> 
<div class='hidden' id = 'onlinetestid'>
{%include 'basicinformation/teacher_online_analysis2.html' %}
</div>
